/* GENERAL */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #0F1C2E;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15,28,46,0.85);
    padding: 15px 0;
    backdrop-filter: blur(6px);
    z-index: 100;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #0BC7AA;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0BC7AA;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.btn {
    background: #0BC7AA;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #089e89;
}

/* SECCIONES */
.section {
    padding: 100px 20px;
    text-align: center;
}

.section-title {
    font-size: 2.3rem;
    margin-bottom: 40px;
}

.bg-light {
    background: #EAECEF;
}

.text-large {
    font-size: 1.1rem;
    max-width: 800px;
    margin: auto;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* FOOTER */
footer {
    background: #0F1C2E;
    color: white;
    text-align: center;
    padding: 20px;
}
