body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #0F1C2E;
}

.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.6), 
        rgba(0,0,0,0.6)
    ),
    url("https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.btn {
    background: #0BC7AA;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.section {
    padding: 80px 20px;
    text-align: center;
}

.bg-light {
    background: #EAECEF;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card {
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background: #0F1C2E;
    color: white;
}
